# top level
.DS_Store
.pytest_cache
AppDir
viam-oak-d-venv
oak-d-integration-tests
module.tar.gz
*.AppImage
build
dist

# src
src/__pycache__

# unit tests
tests/__pycache__

# packaging
packaging/src
